#siswa{
	font-family: "Trebuchet MS",Arial,Helvetica,
	sans-serif;
	border-collapse: collapse;
	width: 50%;
}

#siswa td, #siswa th{
	border: 1px solid #ddd;
	padding: 8px;
}

#siswa tr:nth-child(even){background-color: #f2f2f2;}

#siswa tr:hover {background-color: #ddd;}

#siswa th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}